<div class="w-full pt-6 bg-gradient-to-b from-blue-100 to-white flex flex-col items-center justify-start pt-12">
    <!-- Hero Section -->
    <section class="text-center p-5 px-2 max-w-6xl w-full">
      <h1 class="text-4xl md:text-5xl font-semibold text-blue-700">Effettua il Login</h1>
      <p class="text-gray-700 mt-4 text-lg md:text-xl max-w-4xl mx-auto">
        Accedi al tuo account <br>per accedere alla piattaforma.
      </p>
    </section>
  
    <!-- Sezione: Form di login -->
    <section class="w-full max-w-md p-8 bg-white shadow-lg flex flex-col gap-6">
      <!-- Form Login -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
          <div class="flex flex-col gap-6">
            <h3 class="text-xl text-blue-500">Accedi al tuo account</h3>
    
                <!-- Input username -->
                <input type="text" placeholder="Username" formControlName="email"
                class="p-4 border border-blue-300 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-blue-400">
          
                <!-- Input password -->
                <input type="password" placeholder="Password" formControlName="password"
                 class="p-4 border border-blue-300 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-blue-400">
          
                <!-- Button Login -->
                <button type="submit"  [disabled]="form.invalid"            
                  class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-6 rounded-md transform hover:scale-105 transition duration-300">
                  Login
                </button>

                  <div *ngIf="!errorMessage" class="text-red-400 text-center">
                      {{ errorMessage }}
                  </div>
            </div>
        </form>
  
      <!-- Sezione: Login social -->
      <div class="flex flex-col gap-4">
        <p class="text-center text-gray-700">Oppure accedi con</p>
        
        <!-- Google Login -->
        <button  (click)="loginWithGoogle()" class="flex items-center justify-center bg-red-600 hover:bg-red-700 text-white py-2 px-6 rounded-md transform hover:scale-105 transition duration-300">
          <i class="fab fa-google mr-2"></i> Accedi con Google
        </button>
  
        <!-- GitHub Login -->
        <button  (click)="loginWithGitHub()" class="flex items-center justify-center bg-gray-700 hover:bg-gray-800 text-white py-2 px-6 rounded-md transform hover:scale-105 transition duration-300">
          <i class="fab fa-github mr-2"></i> Accedi con GitHub
        </button>
      </div>
    </section>
  </div>
  