@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "aos/dist/aos.css";

body {
  font-family: 'Poppins', sans-serif;
}

.no-border-radius-dialog .mat-mdc-dialog-surface {
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
  background: none;
}